body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 100%;
}


h1 {
    font-size: 6rem;
    margin-top: 0;
    font-family: Sacramento, cursive;
    margin: 50px auto 0 auto;
    color: #66BFBF;
}


h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
      
}


h3 {
    font-family: 'Montserrat', sans-serif;
    color: #a4e5e9;
    font-size: 1.5rem;
}


a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 30px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

p{
    line-height: 2;

}


hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}



.top-container {
    position: relative;
    background-color: #357484;        
}


.middle-container {
    margin-bottom: 100px;
}


.bottom-container {
    margin-bottom: 0;
    background-color: #66BFBF;
    padding: 40px 0 20px;
}


.pro {
    text-decoration: underline;
    touch-action: double-tap-zoom;
}


.intro{
width: 50%;
margin: auto;
}



.top-cloud {
    position: relative;
    left: 300px;
    margin: 50px 0 10px 0;
    
}



.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 350px;
}


.steve{
    
}


.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}



.skill-1{
    width: 25%;
    float: left;
    margin-right: 30px;
    margin-bottom: 40px;
  
}





.skill-2{
    width: 25%;
    float: right;
    margin-left: 30px;
 
}





.skill-3{
    width: 25%;
    float: left;
    margin-right: 30px;
    margin-bottom: 40px;
  
}





.my-pic{
    width: 50%;
    margin: 100px auto 20px auto;
 
}


.contact-me{
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #357484);
    background-image: -moz-linear-gradient(top, #11CDD4, #357484);
    background-image: -ms-linear-gradient(top, #11CDD4, #357484);
    background-image: -o-linear-gradient(top, #11CDD4, #357484);
    background-image: linear-gradient(to bottom, #11CDD4, #357484);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }


  .copyright{
    color: #EAF6F6;
    font-size: 0.8rem;
    padding: 30px 0;
  }