/* General styles */
body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 100%;
    width: 100%;
}

.steve{
    margin-top: 0;
    padding-top: 13%;
}

.pro{
    text-decoration: underline;
}


h1 {font-size: 6rem;
    font-family: Sacramento, cursive;
    margin: 5% auto 0 auto;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #a4e5e9;
    font-size: 1.5rem;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 2% 3%;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

p {
    line-height: 2;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 10%;
    margin: 10% auto;
}

/* Top container */
.top-container {
    background-color: #357484;
    width: 100%;
    margin-top: 0;

}


.sp

/* Middle container */
.middle-container {
    margin-bottom: 10%;
    background-color: #66BFBF;
}

/* Bottom container */
.bottom-container {
    margin-bottom: 0;
    background-color: #66BFBF;
    padding: 4% 0 2%;
}


.mountain{
    width: 60%;
}



/* Introduction section */
.intro {
    width: 90%;
    margin: 0 auto;
    clear: both;
}

/* Clouds */
.top-cloud, .bottom-cloud {
    position: absolute;
    width: 15%;
    margin: 50px 0 30px 0;
}

.top-cloud {
    left: 75%;
    margin: 5% 0 10% 0;
    top: 1%;

}

.bottom-cloud {
    left: 15%;
    bottom: 10%;
    
    }


.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}



.skill-1{
    width: 25%;
    float: left;
    margin-right: 30px;
    margin-bottom: 40px;
  
}





.skill-2{
    width: 25%;
    float: right;
    margin-left: 30px;
    margin-bottom: 10%;

 
}





.skill-3{
    width: 25%;
    float: left;
    margin-right: 30px;
    margin-bottom: 40px;
  
}

.skill-4{
   width: 25%;
    float: right;
    margin-left: 30px;
    margin-bottom: 10%;
    
    
}





.my-pic{
    width: 50%;
    margin: 100px auto 20px auto;
 
}

/* Contact section */
.contact-me {
    width: 70%;
    margin: 5% auto;
}

/* Button */
.btn {
    display: inline-block;
    background: #11CDD4;
    background-image: linear-gradient(to bottom, #11CDD4, #357484);
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #30E3CB;
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
}


  .copyright{
    color: #EAF6F6;
    font-size: 0.8rem;
    padding: 30px 0;
  }
